body {
    background: #3caf7b;
    margin-top: auto;
    margin-left: 3%;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: #ff7e67; /* Corrected here */
    background: #347474;
    border-radius: 25px;
    padding: 10px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2em;
    color: #ff7e67;
    background: #347474;
    border-radius: 15px;
    padding: 5px;
}

h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.7em;
    color: #ff7e67;
    background: #347474;
    border-radius: 10px;
    padding: 2px;
}

p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: #66e0eb;
    margin: 0.3%;
}

a {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: beige;
    font-size: 1.2em;
}

button {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: beige;
    font-size: 1.2em;
    background: #347474;
    border-radius: 10px;
    border-color: #377057;
    padding: 5px;
    margin: 0.3%;
}

input {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: #66e0eb;
    font-size: 1.2em;
    background: #799292;
    border-radius: 10px;
    border-color: #377057;
    padding: 5px;
    margin: 1%;
    margin-left: 3%;
}

figcaption {
    font-weight: bold;
    color: beige;
}

.center {
    margin: auto;
}